SITE=namguro_station
SITE_NAME=하나로마트 남구로역점

DB_HOST=127.0.0.1
DB_PORT=5432
DB_NAME=ems
DB_USER=ems
DB_PASSWORD=your_password_here

SERIAL_PORT=/dev/ttyUSB0
ADDRESSES=11,12,13,14,15,16,17

COLLECTION_INTERVAL=5
SYNC_INTERVAL=3
AGG_INTERVAL=60
